<footer class="footer" id="contacts">
    <div class="container">
        <div class="footer__inner">
            <h2 class="footer__title">Контакты</h2>
            <dl class="footer__contacts">
                <div class="footer__contacts-item">
                    <dt>Телефон:</dt>
                    <dd>+7 (822) 753-22-12</dd>
                </div>
                <div class="footer__contacts-item">
                    <dt>Часы работы:</dt>
                    <dd>Пн-Сб 11:00-19:00<br>
                        В контакте с клиентами 24/7
                    </dd>
                </div>
                <div class="footer__contacts-item">
                    <dt>Адрес:</dt>
                    <dd>Москва, Малый Арбат, д.35, к.1</dd>
                </div>
            </dl>
            <div class="footer__bottom">
                <div class="footer__logo">
                    <a href="#" class="footer__logo-link">
                        <img src="images/logo-black.svg" alt="logo">
                    </a>
                </div>
                <button class="footer__btn btn">Получить консультацию</button>
            </div>
        </div>
    </div>
</footer>

<script src="js/main.min.js"></script>
</body>

</html>